<table class="table table-striped">
    <!--
      <tr>
        <td>Carlos</td>
      </tr>
      <tr> 
        <td>Paco</td>
      </tr>
     -->
    <tr *ngFor="let u of users"> 
        <td>{{ u.name | lowercase}}</td>
        <td>{{ u.lastname | uppercase}}</td>
        <td>{{ u.salary | currency }}</td>
        <td>
          <button type="button" class="btn btn-warning ml-2">edit</button>
          <button (click)="delete(u.name)" type="button" class="btn btn-danger ml-2">delete</button>
        </td>
    </tr>
</table>
<hr>
<!-- <button onclick="add()">add</button> -->
<app-add-user></app-add-user>