<div>
  <nav>
    <ul>
      <!--
      <li><a href="#">Listado Coches</a></li>
      <li><a href="#">Listado Usuarios</a></li>
      -->
      <li><a  routerLink="/cars">Listado Coches</a></li>
      <li><a  routerLink="/">Listado Usuarios</a></li>
    </ul>
  </nav>
  <div class="container">
    <!-- -->
    <table>
      <tr>
        <td>Carlos</td>
      </tr>
      <tr> 
        <td>Paco</td>
      </tr>
    </table>
    <!-- -->
    <!-- <router-outlet></router-outlet>-->
  </div>
  <footer></footer>
</div>